@import "tailwindcss";
.faulty-terminal-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* Add to your index.css */
#square-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.square {
  width: 100px;
  height: 100px;
  background: #183440;
  box-sizing: border-box;
  pointer-events: none;
}

